<!DOCTYPE html>
<html lang="en-US">
<head>

  <%- include ./header/v3_header_meta.ejs %>
  <link href="/css/home.css" rel="stylesheet" type="text/css">
  <link href="/dist/styles.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>
  <script src="//cdn.jsdelivr.net/bluebird/3.4.5/bluebird.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.4.1/es5-shim.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.js"></script>

  <script src="//code.highcharts.com/highcharts.js"></script>
  <script src="//code.highcharts.com/highcharts-more.js"></script>
  <script src="//code.highcharts.com/modules/no-data-to-display.js"></script>
  <link href="/lib/faces/facestypeahead-0.4.4.min.css" rel="stylesheet" />
  <script src="/lib/faces/facestypeahead-0.4.4.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--
  // to be used by onLoad='getSiteStatus()', else should be cleaned up if not needed
  <script type="text/javascript" src="js/common.js?v=<%=Math.random()%>"></script>
 -->
  <script type="text/javascript">
    var user =<%-JSON.stringify(user)-%>;
    var selectedTeam = '';
    var uiReleaseDate ='<%-uiReleaseDate-%>';
  </script>

</head>

<!--
<div id="warningBar" class='agile-header-warning'></div>
<body id="ibm-com" class="ibm-type" onload="getSiteStatus();">
 -->
<body id="ibm-com" class="ibm-type">

  <div id="loadingPage">
    <div>
      <div class="clear-loading loading-effect-1">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div id="app-content" style='width: 100%; height: 100%; background-color: white; position: relative; float: left;'></div>

  <%- include ./v3_footer.ejs %>

  <div id="ibm-related-content">
    <div id="ibm-merchandising-module">
      <!-- MTE will generate this -->
      <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
      <!-- /MTE -->
    </div>
  </div>

  <script type="text/javascript" src="/dist/app.js"></script>

</body>
</html>
