<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include ./header/header_meta.ejs %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="js/assessment.js?v=<%=Math.random()%>"></script>

<style type="text/css">
.ui-tooltip {
    background: rgb(236, 236, 236);
    color: rgb(50, 50, 50);
    border: none;
    padding: 0;
    opacity: 1;
}
.ui-tooltip-content {
    position: relative;
    padding: 1em;
    font-size: 8pt;
    line-height: 20px;
}
.ui-tooltip-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    border-color: transparent rgb(236, 236, 236);
}
</style>
</head>

<body id="ibm-com" class="ibm-type" onload="siteEnv();">
  <div id="ibm-top" class="ibm-landing-page">
    <%- include ./header/header_masthead.ejs %>
    
    <div id="ibm-content-wrapper">
      <%- include ./header/header_leadspace.ejs %>

      <main role="main" aria-labelledby="Team maturity assessment">
        <div id="ibm-pcon">
          <div id="ibm-content">
            <div id="ibm-content-body">    
              <div id="ibm-content-main">
                <div class="ibm-columns">
                  <div class="ibm-col-1-1">
                    <h2 class="ibm-bold ibm-h3">
                      Team Maturity Assessment
                      <span id="progressSep" style="display: none;">
                        <span style="padding:5px">|</span>
                        <span id="progressLink"><a href="progress.jsp">Assessment Summary</a></span>
                      </span>
                    </h2>
                    <div class="ibm-rule ibm-alternate-1">
                      <hr>
                    </div>
                    <form id="assessmentForm" class="ibm-column-form">
                      <input type="hidden" id="changeIndicator" value=""/>
                      <p>
                        <label for="teamSelectList">Select an existing team:<span class="ibm-required">*</span></label>
                        <span style="width: 600px;">
                          <select id="teamSelectList" name="teamSelectList" style="width: 280px">
                            <option value="new" selected="selected">Select one</option>
                          </select>
                        </span>
                      </p>
                      <div class="agile-read-only-status ibm-item-note-alternate" id="userEditMsg" style="display:none;"></div>
                      <p>
                        <label for="assessmentSelectList">Create new or select an existing assessment:<span class="ibm-required">*</span></label>
                        <span style="width: 600px;">
                          <select id="assessmentSelectList" name="assessmentSelectList" style="width: 280px">
                            <option value="new" selected="selected">Create new assessment...</option>
                          </select>
                        </span>
                      </p>
                      <div class="ibm-rule ibm-alternate-1">
                        <hr>
                      </div>
                      <div>
                        <span id="assessmentStatus" style="display:none;float: left"></span>
                      </div>
                        
                      <div class="ibm-btn-row" style="text-align:right;">
                        <input type="button" class="ibm-btn-pri ibm-btn-small" name="submitAssessBtn" value="Submit" onclick="assessmentAction(this);" /> 
                        <input type="button" class="ibm-btn-sec ibm-btn-small" name="saveAssessBtn" value="Save as draft" onclick="assessmentAction(this);" /> 
                        <input type="button" class="ibm-btn-sec ibm-btn-small" name="deleteAssessBtn" value="Delete draft" onclick="assessmentAction(this);" /> 
                        <input type="button" class="ibm-btn-sec ibm-btn-small" name="cancelAssessBtn" value="Cancel current changes" onclick="assessmentAction(this);" /> 
                        <span id="progressIndicatorTop"></span>
                      </div>
                      <div class="ibm-rule ibm-alternate-2">
                        <hr>
                      </div>
                      <p>
                        <label for="teamTypeSelectList">Is this team primarily a Project or Operations team? <span class="ibm-required">*</span>
                          <a class="ibm-information-link" id="teamTypeTT" data-widget="tooltip" data-contentid="teamTypeToolTip" style="position: relative; left: 10px; top :8px; display: inline;"></a>
                        </label>
                        <span style="width: 600px;">
                          <select id="teamTypeSelectList" name="teamTypeSelectList" style="width: 280px">
                            <option value="Project" selected="selected">Project</option>
                            <option value="Operations">Operations</option>
                          </select>
                        </span>
                      </p>
                      <div id="teamTypeToolTip" class="ibm-tooltip-content">
                        <p class="toolTip">
                          Operations teams support a repeatable process that delivers value to the customer.  Unlike a project, it normally has no definite start and end date.  
                          Operation examples include recruitment, budgeting, call centers, supply chain and software operations.
                        </p>
                      </div>
                      <p>
                        <label for="softwareYesNo">Does the team deliver software? <span class="ibm-required">*</span>
                          <a class="ibm-information-link" id="softwareTT" data-widget="tooltip" data-contentid="softwareToolTip" style="position: relative; left: 10px; top :8px; display: inline;"></a>
                        </label>
                        <span style="width: 600px;">
                          <select id="softwareYesNo" name="softwareYesNo" style="width: 280px">
                            <option value="Yes" selected="selected">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </span>
                      </p>
                      <div id="softwareToolTip" class="ibm-tooltip-content">
                        <p class="toolTip">
                          Answering yes to this will add the optional DevOps software delivery practices.
                        </p>
                      </div>
                      
                      <p>
                        <label for="assessmentDate">Enter assessment date, or date will be assigned at submission:
                          <a class="ibm-information-link" id="assDateTT" data-widget="tooltip" data-contentid="assDateToolTip" style="position: relative; left: 10px; top :8px; display: inline;"></a>
                        </label>
                        <span style="width: 600px;"> 
                          <input type="text" class="ibm-date-picker"
                          name="assessmentDate" id="assessmentDate" size="44" value="" readonly="readonly" placeholder="Optional assessment date" style="width: 300px">
                        </span>
                      </p>
                      <div id="assDateToolTip" class="ibm-tooltip-content">
                        <p class="toolTip">
                          The assessment date is assigned when the Submit action is taken.  To assign a specific date, i.e. when recording a previously completed assessment, select the date to use as the assessment date
                        </p>
                      </div>
                      
                      <!-- 
                      <div class="ibm-columns">
                        <div class="ibm-col-6-2">
                          <p style="float: left; margin-right: 30px;" id="progressIndicator">
                            <label>Progress:</label>
                            <span></span>
                          </p>
                        </div>
                        <div class="ibm-col-6-4">
                          <p class="ibm-btn-row" style="text-align:right;">
                            <span> 
                              <input type="button" class="ibm-btn-sec ibm-btn-small" name="submitAssessBtn" value="Submit" onclick="assessmentAction(this);" /> 
                              <input type="button" class="ibm-btn-sec ibm-btn-small" name="saveAssessBtn" value="Save as draft" onclick="assessmentAction(this);" /> 
                              <input type="button" class="ibm-btn-sec ibm-btn-small" name="cancelAssessBtn" value="Cancel current changes" onclick="assessmentAction(this);" /> 
                            </span>
                            Progress:<span></span>
                          </p>
                        </div>
                      </div>
                       -->
                      <div id="assessmentContainer" class="agile-maturity">
                      </div>
                      <!-- 
                      <div id="assessmentContainerx" class="agile-maturity">
                        <ul data-widget="twisty" class="ibm-twisty agile-assessment">
                          <li data-open="true" id="x">
                            <span class="ibm-twisty-head">Leadership and Collaboration Assessment</span>
                            <div class="ibm-twisty-body">
                              <ul class="ibm-twisty agile-principle">
                                <li data-open="true">
                                  <span class="ibm-twisty-head">Principle <a onclick="alert(1);return false;">test</a></span>
                                  <div class="ibm-twisty-body">
                                    <ul class="ibm-twisty agile-practice">
                                      <li data-open="true" class="agile-practice">
                                        <span class="ibm-twisty-head">Practice <span>Unanswered</span></span>
                                        <div class="ibm-twisty-body">
                                          <table class="ibm-data-table ibm-altrows agile-practice" width="100%" summary="__REPLACE_ME__">
                                            <thead>
                                              <tr>
                                                <th scope="col" width="15%">Maturity level</th>
                                                <th scope="col"></th>
                                                <th scope="col" width="8%">Current</th>
                                                <th scope="col" width="8%">Target</th>
                                                <th scope="col" width="8%">Independent</th>
                                              </tr>
                                            </thead>
                                            <tbody></tbody>
                                          </table>
                                        </div>
                                      </li>
                                    </ul>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li data-open="true" id="y">
                            <span class="ibm-twisty-head">Development (DevOps) Assessment</span>
                            <div class="ibm-twisty-body"></div>
                          </li>
                        </ul>
                      </div>
                       -->
                       
                      <h2 class="ibm-bold ibm-h4">Last update</h2>
                      <div class="ibm-rule ibm-alternate-2">
                        <hr>
                      </div>
    
                      <div class="ibm-columns">
                        <div class="ibm-col-2-1">
                          <p>
                            <label><span style="font-size: 9pt">Last update user:</span></label> <span style="font-size: 9pt" id="lastUpdateUser"></span>
    
                          </p>
    
                        </div>
                        <div class="ibm-col-2-1">
                          <p>
                            <label><span style="font-size: 9pt">Last update timestamp:</span></label> <span style="font-size: 9pt" id="lastUpdateTimestamp"></span>
                          </p>
                        </div>
                      </div>
                      
                      <div id="debugSection">
                        <p>
                          <label><span style="font-size: 9pt">Doc id for this page(for SIT only):</span></label> <span style="font-size: 9pt" id="doc_id"></span>
                        </p>
                      </div>                  
                      
                      <div class="ibm-rule ibm-alternate-1">
                        <hr>
                      </div>
                      
                      <p class="ibm-btn-row" style="text-align:right;">
                        <input type="button" class="ibm-btn-pri ibm-btn-small" name="submitAssessBtn" value="Submit" onclick="assessmentAction(this);" /> 
                        <input type="button" class="ibm-btn-sec ibm-btn-small" name="saveAssessBtn" value="Save as draft" onclick="assessmentAction(this);" /> 
                        <input type="button" class="ibm-btn-sec ibm-btn-small" name="deleteAssessBtn" value="Delete draft" onclick="assessmentAction(this);" /> 
                        <input type="button" class="ibm-btn-sec ibm-btn-small" name="cancelAssessBtn" value="Cancel current changes" onclick="assessmentAction(this);" /> 
                        <span id="progressIndicatorBottom"></span>
                      </p>
                      
                    </form>
                 </div>
              </div>
            </div>
          </div>
      
          </div>
        </div>
      </main>

      <div id="ibm-related-content">
        <div id="ibm-merchandising-module">
          <!-- MTE will generate this -->
          <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
          <!-- /MTE -->
        </div>
      </div>
    </div>
    <%- include ./footer.ejs %>

  </div>
</body>
</html>
