<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include ./header/header_meta.ejs %>

<script type="text/javascript" src="js/assessmentResult.js?v=<%=Math.random()%>"></script>

<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">
  var teamId = '';
  var assessId = '';
  jQuery(function($) {
    $(document).ready(function() {
      var urlParameters = getJsonParametersFromUrl();
      if (urlParameters != undefined) {
        teamId = urlParameters.id;
        assessId = urlParameters.assessId;
        if (teamId != undefined && assessId != undefined) {
          retrieveAssessmentResult(teamId, assessId);
          setAssessmentLink(teamId, assessId);
        }
      }
    });
  });
</script>
</head>

<body id="ibm-com" class="ibm-type" onload="siteEnv()">
  <div id="ibm-top" class="ibm-landing-page">
    <%- include ./header/header_masthead.ejs %>
    
    <div id="ibm-content-wrapper">
      <%- include ./header/header_leadspace.ejs %>

      <main role="main" aria-labelledby="ibm-pagetitle-h1">
        <div id="ibm-pcon">
          <div id="ibm-content">
            <div id="ibm-content-body">
              <div id="ibm-content-main">
                <div class="ibm-columns">
                  <div class="ibm-col-1-1">
                    <h2 class="ibm-bold ibm-h3">
                      <a id="assessmentLink" href="assessment.jsp">Team Maturity Assessment</a> <span style="padding: 5px"></span>|<span style="padding: 5px"></span> Team Assessment Summary
                    </h2>
                    <div class="ibm-rule ibm-alternate-1">
                      <hr>
                    </div>
                    <div class="ibm-container-body">
                      <div class="ibm-columns">
                        <div class="ibm-col-1-1">
                          <label><span>Team Name:</span></label> <span id="teamName"></span>
                        </div>
                      </div>
                      <div class="ibm-columns" style="padding-top: 5px;">
                        <div class="ibm-col-4-1">
                          <label><span>Team assessment status:</span></label> <span id="selfStatus"></span>
                        </div>
                        <div class="ibm-col-4-1">
                          <label><span>Team assessment date:</span></label> <span id="assessmentDt"></span>
                        </div>
                        <div class="ibm-col-4-1" id="indAssmtStat">
                          <label><span>Independent assessment status:</span></label> <span id="indStatus"></span>
                        </div>
                        <div class="ibm-col-4-1" id="indAssmtDt">
                          <label><span>Independent assessment date:</span></label> <span id="indDt"></span>
                        </div>
                      </div>
                      <div class="ibm-columns" style="padding-top: 10px;">
                        <div class="ibm-col-1-1">
                          <label><span style="float: right;">Maturity Levels: 1-Initiating, 2-Practicing, 3-Transforming, 4-Scaling</span></label>
                        </div>
                      </div>
                    </div>
    
                    <form id="progressForm" class="agile-maturity">
                      <div data-widget="showhide" data-type="panel" class="ibm-show-hide" id="colContainer">
                        <h2 class="agile-summary" data-open="true" id="assessId_0"></h2>
                        <div class="ibm-container-body" id="assessContainer_0">
                          <div class="ibm-columns">
                            <div class="ibm-col-2-1">
                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <table class="ibm-data-table ibm-altrows" summary="__REPLACE_ME__" id="colTable" width="90%">
                                    <thead>
                                      <tr>
                                        <th>Practice</th>
                                        <th>Current</th>
                                        <th>Target</th>
                                        <th id="resultIndAsses">Ind Assess</th>
                                      </tr>
                                    </thead>
                                    <tbody id="resultBody" style="text-align: left;" />
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="ibm-col-2-1" style="min-height: 480px">
                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <div id="container"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div data-widget="showhide" data-type="panel" class="ibm-show-hide" id="delContainer">
                        <h2 class="agile-summary" data-open="true" id="assessId_1"></h2>
                        <div class="ibm-container-body" id="assessContainer_1">
                          <div class="ibm-columns">
                            <div class="ibm-col-2-1">
                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <table class="ibm-data-table ibm-altrows" summary="__REPLACE_ME__" id="delTable" width="90%">
                                    <thead>
                                      <tr>
                                        <th>Practice</th>
                                        <th>Current</th>
                                        <th>Target</th>
                                        <th id="deliveryIndAsses">Ind Assess</th>
                                      </tr>
                                    </thead>
                                    <tbody id="deliveryResult" style="text-align: left;" />
                                  </table>
                                </div>
                              </div>
                            </div>
                            <div class="ibm-col-2-1" style="min-height: 480px">
                              <div class="ibm-card">
                                <div class="ibm-card__content">
                                  <div id="deliveryContainer"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <div data-widget="showhide" data-type="panel" class="ibm-show-hide" id="actPlanContainer">
                        <h2 class="agile-summary" data-open="true">Action Plan</h2>
                        <div class="ibm-container-body">
                          <div style="width: 100%; overflow: auto;">
                            <table class="ibm-data-table ibm-altrows ibm-col-1-1 action" summary="__REPLACE_ME__" style="margin-bottom: 30px;">
                              <thead>
                                <tr>
                                  <th id="selectCol"></th>
                                  <th>Related Practice</th>
                                  <th>Principle</th>
                                  <th>Current</th>
                                  <th>Target</th>
                                  <th>How do we get better?</th>
                                  <th>Progress Summary</th>
                                  <th>Key Metric</th>
                                  <th>Review Date</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <tbody id="actionPlan">
                              </tbody>
                            </table>
                          </div>
                          <div class="ibm-btn-row" style="text-align: right; padding-top: 15px;">
                            <h3 style="float: left;">*Note: there is a 350 character limit on entered text</h3>
                            <input type="button" class="ibm-btn-sec ibm-btn-small" id="addActEntryBtn" value="Add action item" onclick="updateActionPlan('add')" disabled /> <input type="button"
                              class="ibm-btn-sec ibm-btn-small" id="deleteActPlanBtn" value="Delete action item" onclick="updateActionPlan('delete')" disabled /> <input type="button"
                              class="ibm-btn-pri ibm-btn-small" id="saveActPlanBtn" value="Save action plan" onclick="updateActionPlan('update')" disabled /> <input type="button"
                              class="ibm-btn-sec ibm-btn-small" id="cancelActPlanBtn" value="Reset action plan" onclick="updateActionPlan('reset');" disabled />
                          </div>
                          <div id="dialog" title="Confirmation Required" />
                        </div>
                      </div>
                                          
                      <h3 class="ibm-h3 agile-summary">
                        Independent Assessor: <span id="indAssessor"></span>
                      </h3>
                      
                      <h3 class="ibm-bold ibm-h4">Last update</h3>
                      <div class="ibm-rule ibm-alternate-2">
                        <hr>
                      </div>
                      
                      <div class="ibm-columns">
                        <div class="ibm-col-2-1">
                          <p>
                            <label><span style="font-size: 9pt">Last update user:</span></label> <span style="font-size: 9pt" id="lastUpdateUser"></span>
    
                          </p>
    
                        </div>
                        <div class="ibm-col-2-1">
                          <p>
                            <label><span style="font-size: 9pt">Last update timestamp:</span></label> <span style="font-size: 9pt" id="lastUpdateTimestamp"></span>
                          </p>
                        </div>
                      </div>
                        
                      <div id="debugSection">
                        <p>
                          <label><span style="font-size: 9pt">Doc id for this page(for SIT only):</span></label> <span style="font-size: 9pt" id="doc_id"></span>
                        </p>
                      </div>                  
                        
                      <div class="ibm-rule ibm-alternate-1">
                        <hr>
                      </div>
                    </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div id="ibm-related-content">
        <div id="ibm-merchandising-module">
          <!-- MTE will generate this -->
          <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
          <!-- /MTE -->
        </div>
      </div>
    </div>
    <%- include ./footer.ejs %>
    
  </div>
</body>
</html>