<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include ./header/header_meta.ejs %>

<link href="//ciolab.ibm.com/misc/typeahead/builds/facestypeahead-0.4.4.min.css" rel="stylesheet" />
<script src="//ciolab.ibm.com/misc/typeahead/builds/facestypeahead-0.4.4.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>

<script type="text/javascript" src="js/team.js?v=<%=Math.random()%>"></script>

</head>

<%- include ./header/header.ejs %>

<body id="ibm-com" class="ibm-type" onload="siteEnv();">
  <div id="ibm-top" class="ibm-landing-page">

    <div id="ibm-content-wrapper">
      <%- include ./header/header_leadspace.ejs %>

      <main role="main" aria-labelledby="Agile teams">
        <div id="ibm-pcon">
          <div id="ibm-content">
            <div id="ibm-content-body">
              <div id="ibm-content-main">
                <div class="ibm-columns">
                  <div class="ibm-col-1-1">
                    <h2 class="ibm-bold ibm-h3">Agile Team</h2>
                    <div class="ibm-rule ibm-alternate-1">
                      <hr>
                    </div>

                    <form id="createTeamForm" class="ibm-column-form">
                      <p>
                        <label style="line-height: 20px;" for="teamSelectList">Create or select an existing team:<span class="ibm-required">*</span></label>
                        <span>
                          <select id="teamSelectList" name="teamSelectList" style="min-width: 380px">
                            <option value="new" selected="selected">Create new...</option>
                          </select>
                        </span>
                      </p>

                      <div class="agile-read-only-status ibm-item-note-alternate" id="userEditMsg" style="display:none; margin-left: 650px;"></div>

                      <p>
                        <label for="teamName">&nbsp;<span class="ibm-access">Team name:</span></label>
                        <span>
                          <input type="text" name="teamName" id="teamName" size="50" value="" placeholder="Type team name" aria-label="Team name"
                          style="width: 400px;">
                        </span>
                      </p>

                      <p>
                        <label for="teamDesc">Team description:</label>
                        <span>
                          <textarea name="teamDesc" id="teamDesc" placeholder="Type a short team description" style="width: 400px; height: 70px;"></textarea>
                        </span>
                      </p>

                      <p>
                        <label for="teamSquadYesNo">Is this a squad team?<span class="ibm-required">*</span>
                          <a class="ibm-information-link" data-widget="tooltip" data-contentid="squadToolTip" style="position: relative; top: -5px; left: 10px;"><span class="ibm-access">Tooltip</span></a>
                        </label>
                        <span>
                          <select id="teamSquadYesNo" name="teamSquadYesNo" style="width: 380px">
                            <option value="Yes" selected="selected">Yes</option>
                            <option value="No">No</option>
                        </select>
                        </span>
                      </p>

                      <div id="squadToolTip" class="ibm-tooltip-content">
                        <p class="toolTip">
                          You can change the Squad Team Indicator from No to Yes if the team does not have any associated Child Teams.<br> <br> You can change the Squad Team Indicator from Yes
                          to No if there is no associated data like Iteration Information.<br> <br> Otherwise, you cannot change the squad team indicator.
                        </p>

                      </div>

                      <p>
                        <label>&nbsp;<span class="ibm-access">Update buttons</span></label>
                        <span class="ibm-btn-row">
                          <input type="button" class="ibm-btn-pri ibm-btn-small" id="addTeamBtn" value="Add team" onclick="updateTeamInfo('add');" />
                          <input type="button" class="ibm-btn-sec ibm-btn-small" id="updateTeamBtn" value="Update team" onclick="updateTeamInfo('update');" disabled />
                          <input type="button" class="ibm-btn-sec ibm-btn-small" id="deleteTeamBtn" value="Delete team" onclick="updateTeamInfo('delete');" disabled />
                          <input type="button" class="ibm-btn-sec ibm-btn-small" id="cancelTeamBtn" value="Reset team" onclick="updateTeamInfo('reset');" />
                        </span>
                      </p>

                      <div style="display:none" id="teamDetailsPageSection" class="squad-sections">
                        <div data-widget="showhide" data-type="panel" class="ibm-show-hide">
                          <h2 class="ibm-bold ibm-h4">Team membership</h2>
                          <div class="ibm-container-body" id="newMemberPageSection">

                            <p id="new_member_section_id">
                              <label aria-label="teamMemberName">Team member<span class="ibm-required">*</span></label>
                              <span>
                                <input type="text" placeholder="Ex: Name or Email Adress" value="" size="50"
                                id="teamMemberName" name="teamMemberName" style="width: 400px;" aria-label="team member" role="combobox">
                              </span>
                            </p>

                            <p id="new_role_section_id" class="ibm-form-elem-grp">
                              <label aria-label="memberRoleSelectList">Role
                                <a class="ibm-information-link" data-widget="tooltip" data-contentid="squadToolTip-role" style="position: relative; top: -5px; left: 10px;"><span class="ibm-access">Tooltip</span></a>
                              </label>
                              <span>
                                <select id="memberRoleSelectList" name="memberRoleSelectList" style="width: 380px;">
                                  <option value="" selected="selected" aria-label="memberRoleSelectList">Select one</option>
                                </select>
                              </span>
                            </p>

                            <div id="squadToolTip-role" class="ibm-tooltip-content">
                              <p class="toolTip">Please refer to the User Guide's appendix for details explanation of roles.</p>
                            </div>


                            <p id="otherRoleDescSection" class="ibm-form-elem-grp" style="display: none;">
                              <span style="padding-left:.7%;"> <input type="text" name="otherRoleDesc" id="otherRoleDesc" size="50" value="" placeholder="Other role description"
                                aria-label="Other role" style="width: 400px">
                              </span>
                            </p>

                            <p id="new_alloc_section_id">
                              <label aria-label="memberAllocation">Member allocation(%):<span class="ibm-required"></span></label> <span> <input type="text" name="memberAllocation"
                                id="memberAllocation" maxlength="3" size="50" value="0" placeholder="Ex: 100" onkeypress="return isNumber(event)" style="width: 400px" aria-label="memberAllocation">
                              </span>
                            </p>

                            <p id="team_member_btns_id" class="ibm-btn-row">
                              <label>&nbsp;<span class="ibm-access">Update buttons</span></label>
                              <span>
                                <input type="button" class="ibm-btn-pri ibm-btn-small" id="addMemberBtn" value="Add team member" onclick="updateMemberInfo('addTeamMember')" />
                                <input type="button" class="ibm-btn-sec ibm-btn-small" id="updateMemberBtn" value="Update team member" onclick="updateMemberInfo('updateTeamMember')" />
                                <input type="button" class="ibm-btn-sec ibm-btn-small" id="cancelMemberBtn" value="Reset team member" onclick="updateMemberInfo('clear');" />
                              </span>
                            </p>

                            <div class="ibm-rule ibm-alternate-1">
                              <hr>
                            </div>
                            <table class="ibm-data-table" data-tablerowselector="enable" id="teamMemberTable" summary="List of team members" style="font-size: 90%;">
                              <div style="float:left; font-size:14px; width:100%;" class="tcaption">
                                <em id="teamNameTitle" class="ibm-bold">Team members</em>
                                <p style="float: right; width: 400px;">
                                  <span id="spin" style="display: none" class="ibm-spinner"></span>
                                  <span style="width: 350px;">
                                  <label aria-label="memberListAction" class="ibm-access">Action</label>
                                  <select id="memberListAction" name="memberListAction" style="width: 150px;" aria-label="memberListAction">
                                      <option id="memberAction" value="" selected="selected">Actions...</option>
                                      <option value="update">Update</option>
                                      <option value="remove">Remove</option>
                                  </select>
                                  </span>
                                </p>
                              </div>
                              <thead>
                                <tr>
                                  <th scope="col"></th>
                                  <th scope="col" width="23%">Name</th>
                                  <th scope="col" width="12%">Email</th>
                                  <th scope="col" width="10%">Allocation</th>
                                  <th scope="col" width="25%">Location</th>
                                  <th scope="col" width="30%">Role</th>
                                </tr>
                              </thead>
                              <tbody id="memberList">
                              </tbody>
                            </table>
                          </div>

                          <h2 class="ibm-bold ibm-h4">Parent team association</h2>
                          <div class="ibm-container-body" id="assocParentPageSection">
                            <p>
                              <label aria-label="parentSelectList">Select a parent team:<span class="ibm-required">*</span></label>
                              <span>
                                <select id="parentSelectList" name="parentSelectList" style="width: 380px;" aria-label="parentSelectList">
                                  <option value="" selected="selected">Select one</option>
                              </select>
                              </span>
                            </p>

                            <p class="ibm-btn-row">
                              <label>&nbsp;<span class="ibm-access">Update buttons</span></label>
                              <span>
                                <input type="button" class="ibm-btn-pri ibm-btn-small" id="updateParentBtn" value="Associate team to a parent team" onclick="updateTeamInfo('parent');" />
                              </span>
                            </p>

                            <div class="ibm-rule ibm-alternate-1">
                              <hr>
                            </div>
                            <table class="ibm-data-table" data-tablerowselector="enable" id="parentMemberTable" summary="List of sibling team" style="display: none;">
                              <caption>
                                <em id="parentNameTitle">Sibling teams</em>
                              </caption>
                              <thead>
                                <tr>
                                  <th scope="col">Team name</th>
                                  <th scope="col">Description</th>
                                  <th scope="col"># of associated teams</th>
                                </tr>
                              </thead>
                              <tbody id="siblingList">
                              </tbody>
                            </table>

                          </div>

                          <h2 class="ibm-bold ibm-h4">Child team association</h2>
                          <div class="ibm-container-body" id="assocChildPageSection">
                            <div id="squadChildPageSection" style="display: none;">
                              <p>Squad team cannot have a child team association</p>
                            </div>
                            <div id="nonSquadChildPageSection" style="display: none;">
                              <p>
                                <label aria-label="childSelectList">Select a team:<span class="ibm-required">*</span></label>
                                <span>
                                  <select id="childSelectList" name="childSelectList" style="width: 380px;" aria-label="childSelectList">
                                    <option value="" selected="selected">Select one</option>
                                </select>
                                </span>
                              </p>

                              <p class="ibm-btn-row">
                                <label>&nbsp;<span class="ibm-access">Update buttons</span></label>
                                <span>
                                  <input type="button" class="ibm-btn-pri ibm-btn-small" id="updateChildBtn" value="Associate team as a child" onclick="updateTeamInfo('child');" />
                                </span>
                              </p>

                              <div class="ibm-rule ibm-alternate-1">
                                <hr>
                              </div>
                              <table class="ibm-data-table" data-tablerowselector="enable" id="childrenMemberTable" summary="List of children team" style="font-size: 90%;">
                                <div style="float:left; font-size:14px; width:100%;" class="tcaption">
                                  <em id="childrenNameTitle" class="ibm-bold">Childream teams</em>
                                  <p style="float: right;  width: 400px;">
                                    <span id="spinner" style="display: none" class="ibm-spinner"></span>
                                    <span style="width: 350px;">
                                    <label aria-label="childrenListAction" class="ibm-access">Action</label>
                                    <select id="childrenListAction" name="childrenListAction" style="width: 150px;" aria-label="childrenListAction">
                                        <option id="childrenAction" value="" selected="selected">Actions...</option>
                                        <option value="remove">Remove</option>
                                    </select>
                                    </span>
                                  </p>
                                </div>
                                <thead>
                                  <tr>
                                    <th scope="col" width="1%"></th>
                                    <th scope="col" width="25%">Team name</th>
                                    <th scope="col" width="10%">Squad team</th>
                                    <th scope="col" width="64%">Description</th>
                                  </tr>
                                </thead>
                                <tbody id="childrenList">
                                </tbody>
                              </table>
                            </div>
                          </div>

                          <h2 class="ibm-bold ibm-h4">Iteration information</h2>
                          <div class="ibm-container-body" id="iterationPageSection">
                            <div id="nonSquadIterationPageSection" style="display: none;">
                              <p>Non squad team does not manage iteration information.</p>
                            </div>
                            <div id="squadIterationPageSection" style="display: none;">
                              <table class="ibm-data-table" id="iterationTable" summary="List of iteration information" style="font-size: 90%;">
                                <div style="float:left; font-size:14px; width:100%;" class="tcaption">
                                  <em id="iterationTitle" class="ibm-bold">Iteration information</em>
                                  <p style="float: right" class="ibm-button-link">
                                    <input type="button" class="ibm-btn-pri ibm-btn-small" id="iterTeamBtn" value="Create iteration" onclick="manageIteration();" />
                                  </p>
                                </div>
                                <thead>
                                  <tr>
                                    <th scope="col" width="1%"></th>
                                    <th scope="col" width="30%">Interation number/identifiers</th>
                                    <th scope="col" width="35%">Start date</th>
                                    <th scope="col" width="35%">End date</th>
                                  </tr>
                                </thead>
                                <tbody id="iterationList">
                                </tbody>
                              </table>
                              <div id="moreIterations" style="display: none;">
                                <p>
                                  <label> <a class="ibm-arrow-forward-bold-link">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; More..</a> </label>
                                </p>
                              </div>
                              <div id="lessIterations" style="display: none;">
                                <p>
                                  <label> <a class="ibm-arrow-forward-bold-link">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Less..</a> </label>
                                </p>
                              </div>

                            </div>
                          </div>
                          <h2 class="ibm-bold ibm-h4">Assessment information</h2>
                          <div class="ibm-container-body" id="assessmentPageSection">
                            <div id="nonSquadAssessmentPageSection" style="display: none;">
                              <p>Non squad team does not manage assessment information.</p>
                            </div>
                            <div id="squadAssessmentPageSection" style="display: none; margin-top: 15px;">
                              <table class="ibm-data-table" id="assessmentTable" summary="List of assessment information" style="font-size: 90%;">
                                <div style="float:left; font-size:14px; width:100%;" class="tcaption">
                                  <em id="assessmentTitle" class="ibm-bold">Assessment Information</em>
                                  <p style="float: right" class="ibm-button-link">
                                    <input type="button" class="ibm-btn-pri ibm-btn-small" id="assessBtn" value="Create assessment" onclick="manageAssessment();" disabled="disabled"/>
                                  </p>
                                </div>
                                <thead>
                                  <tr>
                                    <th scope="col" width="1%"></th>
                                    <th scope="col" width="30%">Assessment/Creation Date</th>
                                    <th scope="col" width="35%">Status</th>
                                    <th scope="col" width="35%">Last Update User</th>
                                  </tr>
                                </thead>
                                <tbody id="assessmentList">
                                </tbody>
                              </table>
                              <div id="moreAssessments" style="display: none;">
                                <p>
                                  <label> <a class="ibm-arrow-forward-bold-link">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; More..</a> </label>
                                </p>
                              </div>
                              <div id="lessAssessments" style="display: none;">
                                <p>
                                  <label> <a class="ibm-arrow-forward-bold-link">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Less..</a> </label>
                                </p>
                              </div>
                            </div>
                            <p/><p/><p/><p/><p/><p/>
                            <div id="maturityTrend" >
                                <span for="maturityTrendLink" style="font-size: 10pt; font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Link to maturity trend graph:
                                </span>
                                <span style="font-size: 10pt" id="maturityTrendLink"></span>&nbsp;
                                <button class="button" id="copy-button" data-clipboard-target="#maturityTrendLink" style="font-size: 10pt; bold"  onclick="return false;">Copy Link</button>
                            </div>
                            <p/><p/><p/>
                          </div>

                          <h2 class="ibm-bold ibm-h4">Last update</h2>
                            <div class="ibm-container-body" id="auditInfoSection">
                             <div><span style="font-size: 9pt">Last update:  <span style="font-size: 9pt" id="lastUpdateTimestamp"></span>      &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;      Updated by:  <span style="font-size: 9pt" id="lastUpdateUser"></span></span></div>
                            </div>
                            <div id="debugSection">
                              <!-- style="display:none;" -->
                              <p>
                                <label><span STYLE="font-size: 9pt">Doc id for this page(for SIT only):</span></label> <span style="font-size: 9pt" id="doc_id"></span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div id="ibm-related-content">
        <div id="ibm-merchandising-module">
          <!-- MTE will generate this -->
          <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
          <!-- /MTE -->
        </div>
      </div>
    </div>
    <%- include ./footer.ejs %>

  </div>
<script type="text/javascript" src="js/team-accessibility-fix.js?v=<%=Math.random()%>"></script>
</body>
</html>