<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include ./header/header_meta.ejs %>

<script src="//cdn.jsdelivr.net/bluebird/3.4.5/bluebird.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//code.highcharts.com/modules/no-data-to-display.js"></script>
<script type="text/javascript">
  var user =<%-JSON.stringify(user)-%>;
  var selectedTeam = '';
</script>

</head>

<%- include ./header/header.ejs %>

<body id="ibm-com" class="ibm-type" onload="getSiteStatus();">
<div id="ibm-top" class="ibm-landing-page">

  <div id="ibm-content-wrapper">
    <%- include ./header/header_leadspace.ejs %>

    <main role="main" aria-labelledby="Agile teams">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">
              <div id="app-content">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  <div id="ibm-related-content">
    <div id="ibm-merchandising-module">
    </div>
  </div>
</div>
<%- include ./footer.ejs %>

</div>

<script type="text/javascript" src="js/team-accessibility-fix.js?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="/dist/home.js"></script>

</body>
</html>
