<!DOCTYPE html>
<html lang="en-US">
<head>

<%- include ./header/header_meta.ejs %>

<script type="text/javascript" src="js/assessmentResult.js?v=<%=Math.random()%>"></script>

<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet"  href="/dist/styles.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>

<body id="ibm-com" class="ibm-type" onload="getSiteStatus()">
  <div id="ibm-top" class="ibm-landing-page">
    <%- include ./header/header.ejs %>
    
    <div id="ibm-content-wrapper">
      <%- include ./header/header_leadspace.ejs %>

      <main role="main" aria-labelledby="ibm-pagetitle-h1">
        <div id="ibm-pcon">
          <div id="ibm-content">
            <div id="ibm-content-body">
              <div id="ibm-content-main">
                <div class="ibm-columns">
                  <div id="app-content" class="ibm-col-1-1">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div id="ibm-related-content">
        <div id="ibm-merchandising-module">
          <!-- MTE will generate this -->
          <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
          <!-- /MTE -->
        </div>
      </div>
    </div>
    <%- include ./footer.ejs %>
    
  </div>
<script type="text/javascript" src="js/assessment-prog-accessibility-fix.js?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="/dist/assessmentSummary.js"></script>
</body>
</html>