<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="geo.country" content="US" />
<meta name="dcterms.rights" content="© Copyright IBM Corp. 2015" />
<title> <%= siteTitle %> | <%= pageTitle%> </title>

<script>
  digitalData = {
    "page" : {
      "category" : {
        "primaryCategory" : "REPLACE"
      },
      "pageInfo" : {
        "effectiveDate" : "2015-01-01",
        "expiryDate" : "2025-01-01",
        "language" : "en-US",
        "publishDate" : "2015-01-01",
        "publisher" : "IBM Corporation",
        "version" : "v18",
        "ibm" : {
          "contentDelivery" : "REPLACE",
          "contentProducer" : "REPLACE",
          "country" : "US",
          "industry" : "CIO",
          "owner" : "Cheryl Rabenstein/Sterling Forest/IBM",
          "subject" : "REPLACE",
          "type" : "REPLACE"
        }
      }
    }
  };
</script>


<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
<link href="/css/www.css" rel="stylesheet" />
<script src="//1.www.s81c.com/common/v18/js/www.js"></script>

<script src="//1.www.s81c.com/common/v18/js/dyntabs.js"></script>

<link href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
<script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
<link href="//1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet">
<script src="//1.www.s81c.com/common/v18/js/tables.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<link href="css/dash.css?v=<%=Math.random()%>" rel="stylesheet" />
<script type="text/javascript" src="js/dashUtils.js?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="js/common.js?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="js/feedback.js?v=<%=Math.random()%>"></script>


<link href="/css/styles.css" rel="stylesheet" type="text/css">


<script type="text/javascript">    
  IBMCore.common.util.config.set({
    //disable the ibm profile button
    "masthead" : {
      "type" : "alternate",
      "enabled": false,
      logoanimation: {
          enabled: false
      },
      marketplaceLink: {
          enabled: false
      },
      megamenu: { 
          enabled: false
      },
      mobilemenu: { 
          enabled: false
      },
      notifications: {
          enabled: false
      },
      profile: {
          enabled: true
      },
      search: {
          enabled: false,
          typeahead: {
              enabled: false
          }
      },
      sticky: {
          enabled: true
      },
    },
    "footer" : {
      "type" : "alternate",
      "enabled" : false
    }
  });
  var $ = jQuery.noConflict();

</script>

<%- include ./../uihelper/uivars.ejs %>