<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="geo.country" content="US" />
<meta name="dcterms.rights" content="© Copyright IBM Corp. 2015" />
<title> <%= siteTitle %> | <%= pageTitle%> </title>

<script src="js/jquery-2.1.4.min.js"></script>

<script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
<link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
<script src="//1.www.s81c.com/common/v18/js/www.js"></script>

<script src="//1.www.s81c.com/common/v18/js/dyntabs.js"></script>

<link href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
<script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
<link href="//1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet">
<script src="//1.www.s81c.com/common/v18/js/tables.js"></script>

<link href="css/dash.css?v=<%=Math.random()%>" rel="stylesheet" />
<script type="text/javascript" src="js/dashUtils.js?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="js/common.js?v=<%=Math.random()%>"></script>

<script type="text/javascript" src="js/config?v=<%=Math.random()%>"></script>
<script type="text/javascript" src="js/jquery.couch.js"></script>
<script type="text/javascript" src="js/feedback.js?v=<%=Math.random()%>"></script>


<script type="text/javascript">    
  IBMCore.common.util.config.set({
    //disable the ibm profile button
    "masthead" : {
      "type" : "alternate",
      "enabled": false
    },
    "footer" : {
      "type" : "alternate",
      "enabled" : false
    }
  });
  var $ = jQuery.noConflict();
</script>

